<%=render 'layouts/navbar' %>
<section id="banner">
	<div class="banner-image-project">
		<div>
			<h1 class="header-1 ">Marjolijn Bijman </h1>
			<h2>INTERIOR ARCHITECT</h2>
		</div>
		<i class="fa fa-bars fa-2x" id="logo-bar"></i>
	</div>
</section>

<section class='projects'>
	<div class="wrapper">
		<div class="container">
			<div class="row space-between">
				<div class="col-xs-12 col-md-6 text-left">
					<div class="card-project">
					<%= link_to show1_path do %>
						<%=image_tag "banner2.jpg", {class:'img-project'} %></a>
						<%end %>
					</div>
					<div class="text-project">
						<p>ttexlokfkfk</p>
					</div>
					<div class="extrainfo">
					</div>
				</div>

				<div class="col-xs-12 col-md-6">
					<div class="card-project">
					<%=link_to show2_path do  %>
						<%=image_tag "banner3.jpg", {class:'img-project'} %>
						<% end %>
					</div>
					<div class="text-project">
						<p>test test test test</p>
					</div>
					<div class="extrainfo">
					</div>
				</div>
			</div>

			<div class="row space-between">
				<div class="col-xs-12 col-md-6 text-left">
					<div class="card-project">
					<%=link_to show3_path  do %>
						<%=image_tag "banner8.jpg", {class:'img-project'} %>
						<% end %>
					</div>
					<div class="text-project">
						<p>ttexlokfkfk</p>
					</div>
					<div class="extrainfo">
					</div>
				</div>

				<div class="col-xs-12 col-md-6">
					<div class="card-project">
					<%= link_to show4_path do %>	
						<%=image_tag "banner9.jpg", {class:'img-project'} %>
						<% end %>
					</div>
					<div class="text-project">
						<p>test test test test</p>
					</div>
					<div class="extrainfo">
					</div>
				</div>
			</div>


		</div>
	</div>
</section>

<section class=space-footer>
<%=render 'layouts/footer'  %>
</section>


