<%=render 'layouts/navbar' %>
<section id="banner">
	<div class="banner-image-project">
		<div>
			<h1 class="header-1 ">MARJOLIJN BIJMAN</h1>
			<h2>INTERIOR ARCHITECT</h2>
		</div>
		<i class="fa fa-bars fa-2x" id="logo-bar"></i>
	</div>
</section>

<div class="wrapper">
	<div class="title">
		<h2 class="text-center">Brands</h2>
	</div>
	<div class="description text-center">
		<p>Discover my favorite brands & partners</p>
	</div>
	<div class="container text-center">
		<div class="row text-center ">
			<div class="col-xs-12 col-md-6 space-between">
			<div class="card-img center-block" >
					<%=link_to 'http://www.normann-copenhagen.com/', target:'_blank' do %>
					<%=image_tag("normann-logo.png",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 space-between">
				<div class="card-img center-block">
					<%=link_to 'http://www.muuto.com/', target:'_blank' do %>
					<%=image_tag("muuto.png",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 space-between">
				<div class="card-img center-block" >
					<%=link_to 'http://www.fermliving.com//', target:'_blank' do %>
					<%=image_tag("fermliving.png",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 space-between">

				<div class="card-img faro center-block" >
					<%=link_to 'http://eu.farrow-ball.com/', target:'_blank' do %>
					<%=image_tag("farrow & ball.jpg",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 space-between">
				<div class="card-img vola center-block" >
					<%=link_to 'http://en.vola.com/', target:'_blank' do %>
					<%=image_tag("VOLA.png",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6 space-between">
				<div class="card-img center-block" >
					<%=link_to 'http://www.weverducre.com/en/Home', target:'_blank' do %>
					<%=image_tag("wever-ducre.png",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 space-between">
				<div class="card-img center-block" >
					<%=link_to 'http://www.fierenskeukens.be/', target:'_blank' do %>
					<%=image_tag("fierens-logo.jpg",class: "img-responsive center-block") %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>





<%=render 'layouts/footer'  %>	
