<section id="navbar">
<i id="cross"class="fa fa-times"></i>
<div>
<div id="link-home">
<%= link_to "HOME", root_path(anchor: "banner") %>
</div>

<div id="link-about">
<%= link_to "ABOUT", root_path(anchor: "about") %>
</div>

<div id="link-project">
<%= link_to "PROJECTS", root_path(anchor: "work") %>
</div>

<div id="link-brand">
<%= link_to "BRANDS", root_path(anchor: "brand") %>
</div>

<div id="link-inspiration">
	<%= link_to "INSPIRATION", root_path(anchor: "inspiration") %>

</div>

<div id="link-contact">
	<%= link_to "CONTACT", root_path(anchor: "contact") %>
</div>

</div>
</section>
